*{
    margin:0;
    padding: 0;
}

#logo {
    width:15em;
    height: auto;
    display:block;
    margin:40px auto;
    border:5px solid rgba(18, 144, 30, 0.874);
    /* border-radius: 10px; */
    border-bottom-left-radius: 70%;
    border-top-right-radius: 70%;
    transition: transform 1s ease-in-out;
    box-shadow: 4px 1px 5px rgba(5, 96, 11, 0.699);
}
#logo:hover {  
    filter: grayscale(100%);
    transform: scale(2) perspective(2px); 
}

#container {
    width:50vw;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;
}

#logo, #description {
    position :absolute;

}

#container, #logo {
    top:0;
    left:0;
}

#container, #description {
    bottom:0;

}

#container, #description p{
    text-align:center;
}
 @media screen and () {
     
 }